/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-bottom: 3rem;
  padding-top: 150px;
  a {
    color: inherit;
  }
}

.navbar-default {
  background-color: white;
}

.ul-right {
  margin-right: auto;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.user {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

  .user-can {
    display: flex;
  }
}

// .description {
//   display: none;
// }
